<div class="main-payPhone">
    <div class="top-dot-back">
    
      <!-- <ArrowBackIcon/> -->
      <span class="material-icons">
        arrow_back
        </span>
        
      <!-- <MoreVertIcon/> -->
      <span class="material-icons">
        more_vert
        </span>

    </div>
    <div class="payPhone-body">
      <div>
        <h3>Enter a Phone number</h3>
        <p>Pay Someone using UPI verified phone number</p>
      </div>
      <div class="payPhone-input">
      <input value="+91" class="countrycode"/>
    <input type="text" class='input' placeholder='0000000000000'/>
    <!-- <AccountCircleIcon className='userAccount-logo' fontSize='large' /> -->
    <span class="material-icons  userAccount-logo">
        account_circle
        </span>
      </div>
    </div>
    
    
    </div>