<div class="main-paywithupi"><div class="paywith-top-dot-back">
    <span class="material-icons">
        arrow_back
    </span>
    
        
      <!-- <MoreVertIcon/> -->
      <span class="material-icons">
        more_vert
        </span>


  </div>
  <div class="main-paywithupi-body">
    <h3>Pay to UPI ID</h3>
    <input type="number" class='input' placeholder='Enter UPI ID'/>
  </div>
  <div class='btn-and-logo-paywith'>
  <button class='btn-and-logo-paywith-btn' type='submit'>Continue</button>
  <p>Powerd By ...</p>

  </div>
  </div>