<div class="UpiIdPage">
    <div class="UpiIdPage-top-dot-back">
        <span class="material-icons">
            arrow_back
        </span>
        
            
          <!-- <MoreVertIcon/> -->
          <span class="material-icons">
            more_vert
            </span>

</div>
<div class="UpiIdPage-body">
<h3>Shubham Aher</h3>
<div class="UpiIdPage-selection-box">
    <select>
    <option>Bank Name</option>
    </select>
</div>
<div class="UpiIdPage-Qr-img">
    <img src='https://media.istockphoto.com/vectors/code-illustration-vector-id828088276?k=20&m=828088276&s=612x612&w=0&h=JnX2DFXVGyTe-wDXdXhTG9p7yPmbd-jO3qWRfCQnHgE='/>

</div>
<div class="UpiIdPage-upi-Id">
    UPI ID: "ahers247@okicic"

</div>
<div class="UpiIdPage-para">
    Scan this code to Pay me
</div>
<div class="UpiIdPage-btn">
   
    <button class="UpiIdPage-btn-button" routerLink="/scan" ><div class="UpiIdPage-btn-icon"><span class="material-icons">
        qr_code_scanner
        </span> </div><div class="UpiIdPage-btn-name">Open Code Scanner</div></button>
   
    <button (click)="copied()" class="UpiIdPage-btn-button"><div class="UpiIdPage-btn-icon"><span class="material-icons">
        content_copy
        </span></div> <div class="UpiIdPage-btn-name">Copy UPI ID</div></button>
</div>

</div>
</div>