.SearchBar_Logo{
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    justify-content: space-between ;
    
    
}

.searchBarInput input{
    border-radius: 15px;
    width: 85%;
    height: 30px;
    outline: none;
    padding-left: 10%;
    /* border: 1px solid rgb(90, 86, 86); */
    box-shadow: 1px 1px 1px 1px rgb(50, 49, 49);
    
}
.searchBarInput{
    width: 100%;
    margin-right: 10px;
}
.userLogo img{
    width: 30px;
    height: 30px;
    border-radius: 15px;
    margin-top: 4px;
}
.userLogo{
    width: 30px;
    
}