<div class="BankTransfer">
    <div class="bank-top-dot-back">
    <!-- <Link to="/"> -->
  <!-- <ArrowBackIcon/> -->
<!-- </Link> -->
<!-- <MoreVertIcon/> -->
<span class="material-icons">
    arrow_back
</span>
<p>Enter recipient details</p>
    
  <!-- <MoreVertIcon/> -->
  <span class="material-icons">
    more_vert
    </span>

</div>
<div class="bankTranfer-from">
    <form about='#'>
    <input type="number" class='input' placeholder='Account Number'/>
    <input type="number" class='input' placeholder='Re-enter Account Number'/>
    <input type="text" class='input' placeholder='IFSC'/>
    <input type="text" class='input' placeholder='Recipient Name'/>
    <Button type='submit'>Confirm</Button>
    <p>This information will be securely saved as per Google pay term of service and privacy policy</p>

    </form>

</div>
</div>